<?xml version="1.0" encoding="UTF-8"?>
<plugin>

    <!-- Main plugin class -->
    <class>org.daybreak.openfire.plugin.bridge.BridgePlugin</class>
    
    <!-- Plugin meta-data -->
    <name>Bridge</name>
    <description>Bridge</description>
    <author>daybreak</author>
    <version>2.1.6</version>
    <date>5/19/2014</date>
    <minServerVersion>3.8.0</minServerVersion>

    <!-- UI extension -->
    <adminconsole></adminconsole>
    
</plugin>
